name: ci-tests

on:
  pull_request:

  push:
    branches:
      - "main"
      - "v*x"
      - "!pre-commit-ci-update-config"
      - "!dependabot/*"
    tags:
      - "v*"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: "tests ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["py311", "py312", "py313"]

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: "setup pixi"
      uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7
      with:
        environments: "test-${{ matrix.python-version }}"
        frozen: true
        activate-environment: true

    - name: "test with ${{ matrix.python-version }}"
      run: |
        pixi run pytest
